@inherits LayoutComponentBase
@using SchedulerUI.Pages.UserManagement


<AuthorizeView>
    <div class="sidebar">
        <NavMenu />
    </div>
</AuthorizeView>


<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@*<style>
    .sidebar {
        background: #000000 !important;
    }
</style>


@code{
    MatTheme theme1 = new MatTheme()
    {
        Primary = "#d500f9",
        Secondary = "#212121"
    };

}*@

