@page "/logout"

@using SchedulerUI.ViewModels.Interfaces
@inject ILoginViewModel vm

<h2>Have a nice day :)</h2>
<p>
    You have logged out. To sign back in, click <a href="Login">here</a>
</p>

@code {

    protected override Task OnInitializedAsync()
    {
        vm.LogOut();
        return base.OnInitializedAsync();
    }
}