<AuthorizeView>
    <Authorized>
        Hello, &nbsp; <b>@context.User.Identity.Name!</b>
        <a href="LogOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Register</a>
        <a href="Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
